{{#if is_phone}}

<div class="mobile-view-frame">
<div class="hero">
	<div class="text">
		<h1 class="noselect">madchat is here</h1>
		<h2 class="noselect">anonymous video chat</h2>
	</div>
</div>

<div class="section white">
	<div class="image">
		<img class="retina-image" src="/images/global/privacy.png"/>
	</div>
	<div class="info">
		<h1>find a chat room</h1>
		<p>open up a chat room by going to a url like video.madpad.me/chat-room-name</p>
	</div>
</div>

<div class="section signuparea">
	<h1 class="noselect">Ready to get started?</h1>
</div>

{{> footer}}
{{else}}

<div class="home">
	
	<div class="hero" >
		<div class="hero-info" data-scroll-speed="-5">
			<h1>madchat is here.</h1>
			<h2>anonymous video chat</h2>
		</div>	
			<div class="try">
				<input class="url-input" placeholder="Enter a name of a chatroom..."/>
				<a href="#" class="try-btn">GO TO ROOM</a>
			</div>
	</div>

	<div class="section grey">
		<div class="container fade">
			<div class="row">
				<div class="image-wrapper lefter">
					<img src="/images/new/iphone.png" class="image iphone"/>
				</div>
				<div class="text-wrapper righter">
					<h6>Chat along with your video</h6>
					<p>Communication is important. We've made it easy.</p>
					<p>Madchat allows you to anonymously chat with anyone</p>
					<p>Works with Web RTC with the help of <a href="http://icecomm.io">Icecomm.io</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

{{> footer}}
</div>
{{/if}}
{{> variables}}
