{{#if is_phone}}

<div class="mobile-view-frame">
<div class="hero">
	<div class="text">
		<h1 class="noselect">madchat is here</h1>
		<h2 class="noselect">anonymous video chat</h2>
		<h2 class="noselect">(only for firefox & chrome)</h2>
	</div>
</div>

<div class="section white">
	<div class="info">
		<h1>find a chat room</h1>
		<p>open up a chat room by going to a url like <a href="http://www.madchat.me/chat-room-name">www.madchat.me/chat-room-name</a></p>
	</div>
</div>

{{> footer}}
{{else}}

<div class="home">
	
	<div class="hero" >
		<div class="hero-info" data-scroll-speed="-5">
			<h1>madchat is here.</h1>
			<h2>anonymous video chat</h2>
			<h2>(only for firefox & chrome)</h2>
		</div>	
			<div class="try">
				<form action="" method="get">
					<input class="url-input" placeholder="Enter a name of a chatroom..."/>
					<button type="submit" style="display:none"></button>
					<a href="#" class="try-btn">GO TO ROOM</a>
				</form>
			</div>
	</div>

	<div class="section grey">
		<div class="container">
			<div class="row">
				<div class="image-wrapper lefter">
					<img src="/images/new/iphone.png" class="image iphone"/>
				</div>
				<div class="text-wrapper righter">
					<h6>Chat along with your video</h6>
					<p>Video is important. We've made it easy.</p>
					<p>Madchat allows you to anonymously chat with anyone</p>
					<p>Works with WebRTC with the help of <a href="http://icecomm.io">Icecomm.io</a></p>
				</div>
			</div>
		</div>
	</div>

</div>

{{> footer}}
</div>
{{/if}}
{{> variables}}
