/* Import all of my styles */
/*   ---   Global Less   --   */
/*   ---   CSS Reset   --   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  padding: 0 0;
  box-sizing: border-box;
  outline: none;
}
* {
  box-sizing: border-box;
}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*   ---   End of CSS Reset   --   */
/*   ---   Header   --   */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
button,
body,
textarea {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
.overflow-hidden {
  overflow: hidden;
}
.header {
  background: #232c30;
  height: 70px;
  width: 100%;
  z-index: 1500;
}
.header .logo-container {
  float: left;
  position: relative;
  top: 50%;
  z-index: 1500;
}
.header .logo-container a {
  display: inline-block;
}
.header .logo-container a .logo-image {
  background-image: url('images/sprites/desktop.png');
  background-position: -5px -239px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 124px;
  height: 30px;
  margin-top: -50%;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .header .logo-container a .logo-image {
    background-image: url('images/sprites/desktop-x2.png');
    background-size: 360px 332px;
  }
}
.header .menu-container {
  float: right;
  position: relative;
  z-index: 1500;
}
.header .menu-container .login-button {
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  outline: 0;
  position: relative;
  top: 16px;
}
.header .menu-container .login-button:hover {
  background: #33bea8;
  border: 1px solid #33bea8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
}
.header .menu-container .avatar-user {
  position: relative;
  top: 9px;
  height: 50px;
}
.header .menu-container .avatar-user:hover {
  cursor: pointer;
}
.header .menu-container .avatar-header {
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  margin-right: 5px;
}
.header .menu-container .avatar-name {
  color: #ffffff;
  font-size: 14px;
  position: relative;
}
.header .menu-container .avatar-name .arrow {
  display: inline-block;
  margin-top: -10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAOCAYAAAA8E3wEAAAA20lEQVQ4y7WUsRGCUAyGc0dDywA4gs7AuQTHEhSce+geNrqCM2hrIwNwZ0Xz2eRpRFGC8t+lIsl3Ie+PADvgChSATBSFMvYCtDy0mgC2Mv1bAUqetQGiP4Ai7WVV2pHtpFsg/gEWa4/7ZGFlNmkJNCbpACQjYInWBjXaW7pAARZAbZKPQOqApVoTVGtP6QMKMANOpugCzAfA5pobdNJe8g3Y91uyD7Bs6Dq8i8/f5OWeBzfmaVfme+W11BjzAqw18B4N73lqeVXrOYtej3W9+uSxKYDBq2eNhbf+Bq2F8+gCm1xyAAAAAElFTkSuQmCC) no-repeat center center;
  background-size: 10px 5px;
  width: 10px;
  height: 8px;
  margin-left: 10px;
}
.header .menu-container .avatar-drop .dropdown {
  background: #ffffff;
  position: absolute;
  width: 200px;
  top: 50px;
  right: 0px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.header .menu-container .avatar-drop .dropdown li {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .menu-container .avatar-drop .dropdown li:hover {
  background: #f9f9f9;
}
.header .menu-container .avatar-drop .dropdown li a {
  display: block;
  text-decoration: none;
  color: #9ea5ab;
}
.header .menu-container .avatar-drop .dropdown li:first-child {
  background: #5dbff1;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: none;
  cursor: default;
}
.header .menu-container .avatar-drop .dropdown li:first-child a {
  color: #ffffff;
}
.header .menu-container .avatar-drop .dropdown li:last-child {
  margin-bottom: 0px;
}
.header .menu-container .avatar-drop .dropdown span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.header .menu-container .avatar-drop .dropdown .help-icon {
  background-image: url('images/sprites/desktop.png');
  background-position: -339px -185px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 16px;
  height: 16px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .header .menu-container .avatar-drop .dropdown .help-icon {
    background-image: url('images/sprites/desktop-x2.png');
    background-size: 360px 332px;
  }
}
.header .menu-container .avatar-drop .dropdown .logout-icon {
  background-image: url('images/sprites/desktop.png');
  background-position: -5px -311px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 16px;
  height: 16px;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .header .menu-container .avatar-drop .dropdown .logout-icon {
    background-image: url('images/sprites/desktop-x2.png');
    background-size: 360px 332px;
  }
}
.header .menu-container .avatar-drop .arrow-up {
  position: absolute;
  top: 42px;
  right: 12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #5dbff1;
  z-index: 2;
}
.sides {
  padding-left: 20px;
  padding-right: 20px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*   ---   End of Header   --   */
/*   ---   Tooltip Less   --   */
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  white-space: nowrap;
  background: #5dbff1;
  left: 0;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
  top: 41px;
  color: #ffffff;
  content: attr(name);
  padding: 8px 16px;
  position: absolute;
  z-index: 98;
}
.tooltip:hover:before {
  border: solid;
  border-color: #5dbff1 transparent;
  border-width: 0px 6px 6px 6px;
  top: 35px;
  content: "";
  left: 50%;
  margin-left: -6px;
  position: absolute;
  z-index: 99;
}
.tooltips:hover:after {
  white-space: pre!important;
}
/*   ---   End of Tooltip Less   --   */
/*   ---   Random CSS   --   */
#pusherContentEditable {
  display: none;
}
.madpad-container {
  overflow-x: hidden;
}
.minwidth {
  min-width: 1050px;
}
.underline {
  position: relative;
  height: 6px;
  border: 2px solid #33bea8;
  border-top: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.green-btn {
  background-color: #33bea8;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.green-btn:hover {
  background-color: #3bd9be;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.cancel-btn {
  background-color: #dddddd;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cancel-btn:hover {
  background-color: #eaeaea;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.red-btn {
  background-color: #cd7155;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 2px;
}
.red-btn:hover {
  background-color: #e57e5e;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232c30;
  opacity: 0.8;
  z-index: 1200;
  display: none;
}
.overlay-close {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.overlay-open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   End of Random CSS   --   */
/* START HOME PAGE */
.home .row:before,
.home .row:after {
  content: "";
  display: table;
  box-sizing: border-box;
}
.home .row:after {
  clear: both;
}
.home .hero {
  position: relative;
  width: 100%;
  height: 915px;
  background: url('http://cdn.madpad.me/images/new/test4.jpg') no-repeat center center;
  background-size: cover;
}
.home .hero .hero-info {
  display: block;
  position: relative;
  top: 32%;
  text-align: center;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3;
  /* Opera < 12.1 */
  animation: fadein 3s;
  /* Firefox < 16 */
  /* Safari, Chrome and Opera > 12.1 */
  /* Internet Explorer */
  /* Opera < 12.1 */
}
.home .hero .hero-info h1 {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.home .hero .hero-info h2 {
  font-size: 36px;
  color: #eaeaea;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .hero .try {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  padding: 40px 0px;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.home .hero .try:hover {
  background: rgba(51, 190, 168, 0.1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.home .hero .try input {
  position: relative;
  left: 50px;
  width: 450px;
  height: 60px;
  font-size: 18px;
  padding: 0px 120px 0px 20px;
  border: 1px solid #dddddd;
  border-radius: 60px;
  background: #dddddd;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.home .hero .try input:focus {
  background: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.home .hero .try .try-btn {
  position: relative;
  left: -50px;
  color: #ffffff;
  text-decoration: none;
  background: #33bea8;
  padding: 21px 20px;
  outline: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  font-weight: 400;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.home .hero .try .try-btn:hover {
  background: #3bd9be;
}
.home .black-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222222;
}
.home .full-section .text {
  margin-top: 119.5px;
}
.home .section {
  padding: 150px 40px;
  position: relative;
  width: 100%;
}
.home .section .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.home .section .righter {
  float: right;
}
.home .section .lefter {
  float: left;
}
.home .section .text-wrapper {
  width: 45%;
  position: relative;
}
.home .section .text-wrapper h6 {
  font-size: 36px;
  color: #222222;
  margin-bottom: 20px;
}
.home .section .text-wrapper p {
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 10px;
}
.home .section .image-wrapper {
  position: relative;
  width: 50%;
}
.home .section .image-wrapper .image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.home .section .image-wrapper .iphone {
  max-height: 500px;
}
.home .full-section {
  width: 100%;
  height: 500px;
}
.home .full-section .left-section {
  position: relative;
  width: 40%;
  height: 500px;
  float: left;
  transition: 1.5s;
  -webkit-transition: 1.5s;
}
.home .full-section .left-section .text {
  position: relative;
  top: 0;
  max-width: 480px;
  margin-left: auto;
  margin-right: 0;
  padding: 0px 40px;
}
.home .full-section .left-section .text h6 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.home .full-section .left-section .text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}
.home .full-section .left-section .text .privacy {
  display: inline-block;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 30px;
  border-radius: 60px;
  opacity: 0.3;
}
.home .full-section .left-section .text .privacy span {
  transition: 3s;
  -webkit-transition: 3s;
}
.home .full-section .right-section {
  position: relative;
  width: 60%;
  height: 500px;
  background: url('http://cdn.madpad.me/images/new/randomlocks.jpg') no-repeat center center;
  background-size: cover;
  float: left;
}
.home .grey {
  background: #f6f6f6;
  padding-bottom: 0px;
}
.home .grey .text-wrapper {
  margin-top: -80px;
}
.home .fade {
  opacity: 0;
}
/* END HOME PAGE

/* Footer */
footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #232c30;
  border-top: 1px solid #4b555d;
}
footer .row {
  overflow: hidden;
}
footer .leftside {
  float: left;
  width: 30%;
}
footer .leftside p {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
  line-height: 18px;
}
footer .rightside {
  float: right;
}
footer .rightside ul a {
  display: block;
  float: left;
  margin: 0 20px;
  font-size: 14px;
  line-height: 18px;
}
footer .rightside ul li {
  float: left;
  color: #ffffff;
  opacity: 0.5;
}
footer .rightside ul li:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
/*   ---   End of Home Page   --   */
@media (min-height: 720px) {
  .about-wrapper footer {
    position: absolute;
    bottom: 0;
  }
}
/*   ---  About us Page   --   */
.about-wrap {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 550px;
}
.about-wrap h1 {
  font-size: 40px;
  color: #dddddd;
  text-align: center;
  margin-bottom: 60px;
}
.about-wrap .col {
  float: left;
  width: 50%;
  text-align: center;
}
.about-wrap .col h2 {
  font-size: 30px;
  color: #5dbff1;
  margin-top: 30px;
}
.about-wrap .about-avatar {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.about-wrap hr {
  width: 300px;
  border: none;
  border-top: 2px solid #eaeaea;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-wrap .social-logo {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  opacity: 0.7;
}
.about-wrap .social-logo:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
/*   ---  End About us Page   --   */
/*   ---  Feedback Override  --   */
.uv-icon > svg {
  display: none;
  width: 0px;
  height: 0px;
}
.uv-icon {
  width: 0px !important;
  height: 0px !important;
}
.uv-popover-tail {
  display: none;
}
.uv-icon.uv-bottom-left {
  bottom: 0px !important;
  left: 10px !important;
}
/*   ---  End of Feedback Override  --   */
/*   ---  Privacy/TOS  --   */
.tos {
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0px;
}
.tos h1 {
  font-size: 30px;
  color: #232c30;
  line-height: 36px;
  margin-bottom: 10px;
}
.tos h2 {
  font-size: 24px;
  color: #232c30;
  line-height: 30px;
  margin-bottom: 10px;
}
.tos p {
  color: #777777;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.tos ul {
  padding-left: 20px;
  margin-bottom: 10px;
}
.tos li {
  font-size: 14px;
  color: #777777;
  line-height: 20px;
  list-style: circle;
  margin-left: 20px;
}
/* General button style (reset) */
.btn {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 0px;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
/*   ---   Overlay Animation Component  --   */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
/*   ---   Chat Bar General   --   */
.right {
  width: 300px;
  min-height: 500px;
  background: #f9f9f9;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  z-index: 1100;
  /* chat title */
  /* user message styles */
  /* other user message style */
  /* submit area */
}
.right .chat-avatar {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #33bea8;
  background-size: 44px 44px;
}
.right .chat-title {
  border-bottom: 1px solid #dddddd;
  background: #eaeaea;
  height: 50px;
}
.right .chat-title .avatar-list {
  position: relative;
  max-width: 280px;
  top: 10px;
  padding: 0px 10px;
}
.right .chat-title .avatar-list li {
  float: left;
  margin-right: 10px;
}
.right .chat-title .avatar-list li:hover {
  cursor: pointer;
}
.right .chat-title .avatar-list li p {
  font-size: 12px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #eaeaea;
  background: #ffffff;
  padding: 0px 10px;
  border-radius: 20px;
}
.right .chat-title .avatar-user {
  background-size: cover;
  background: #ffffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.right .chat-title .avatar-owner {
  border: 2px solid #5dbff1;
}
.right #messages {
  padding: 10px 10px;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 80px;
  font-size: 12px;
  font-weight: 300;
  background: #f9f9f9;
  color: #232c30;
}
.right #messages .content {
  max-width: 194px;
  min-width: 100px;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.right .user {
  width: 100%;
  overflow: hidden;
}
.right .user .avatar {
  float: right;
  margin-left: 10px;
}
.right .user .content {
  float: left;
  background: #ffffff;
  margin-right: 5px;
}
.right .user .message-area {
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAApklEQVRIx62S0QmAMAwFdQJxFsGp/HAwwYnEOfSnpoKFShLS5AWenwd3tkspbbSB1iGWP/kO2oQE5rtoCxL4XSgBBwwlkIDuBBrQlcACbEpgBZoTtABNCTxANYEXKCaIANkECGCVAAUsCZDAm7aigCdtRinvtBHxU15FWo94NkUR8Q4rxQiQVfQCRUUPUFVsAZoUrUCzogXYpKgBXYoS0K3IAUOK/z2gji6SH93mfQAAAABJRU5ErkJggg==) no-repeat;
  background-size: 12px 20px;
  background-position: right 52px top 10px;
}
.right .user .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.right .other-user {
  width: 100%;
  overflow: hidden;
}
.right .other-user .avatar {
  float: left;
  margin-right: 10px;
}
.right .other-user .content {
  float: right;
  background: #c2e2f2;
  margin-left: 5px;
}
.right .other-user .message-area {
  float: left;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeBAMAAADePCNYAAAAMFBMVEXC4vL////C4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vLC4vJOWzOfAAAAD3RSTlMAAAEPETM2bHCsr93f+foESvCaAAAAZklEQVQY00XOsQ3DMBBD0Q8Bdu8i2UUraCetoJU0gkZiCoe8qx7AXxz87xkW32O1JXPIvI/Zlswh8z5mWzKHzHeWMkuZpcwSniVm8dohvZgEkkASSAJJ3td7kVm8dkgvMoufHT79BzLgkYyf7GDKAAAAAElFTkSuQmCC) no-repeat;
  background-size: 12px 20px;
  background-position: left 52px top 10px;
}
.right .other-user .name {
  font-size: 12px;
  color: #4b555d;
  margin-top: 10px;
}
.right .avatar {
  background-size: cover;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
.right .name {
  font-size: 12px;
  color: #9ea5ab;
  margin-top: 10px;
}
.right .submit-wrapper {
  width: 299px;
  height: 79px;
  position: absolute;
  bottom: 0;
}
.right .submit-area {
  width: 300px;
  background: #f9f9f9;
  padding: 15px 15px;
  border-top: 1px solid #dddddd;
}
.right .submit-area .message-input {
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 12px;
  outline: none;
  resize: none;
}
.right .submit-area button {
  float: right;
  margin-top: 10px;
}
/*   ---   Main Area General   --   */
.middle {
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  overflow: auto;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 300px;
  border-right: 1px solid #eaeaea;
  z-index: 1200;
}
/*   ---   End of Code Editor Area   --   */
/*   ---   Title Area   --   */
.title {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  padding: 0px 40px;
  /* pad name css */
}
.title .pad-name {
  float: left;
  height: 100px;
}
.title .pad-name h2 {
  font-size: 24px;
  line-height: 100px;
}
.title .pad-name h2 span {
  color: #eaeaea;
  font-size: 24px;
  margin-left: 20px;
}
.title .title-options {
  float: right;
  height: 42px;
  position: relative;
  top: 29px;
}
.title .title-options .icon {
  width: 45px;
  height: 42px;
  padding: 10px 10px;
  background-color: #ffffff;
  background-size: 25px 22px;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
